[submodule "molokai"]
	path = molokai
	url = https://github.com/tomasr/molokai.git
[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
[submodule "bundle/urdf-vim"]
	path = bundle/urdf-vim
	url = https://github.com/PeterMitrano/urdf-vim.git
[submodule "pack/github/start/copilot.vim"]
	path = pack/github/start/copilot.vim
	url = https://github.com/github/copilot.vim.git
